%Arial400 {
    font-family: 'Arial-Regular';
    font-weight: 400;
}

$bg-color: #002D2D;
$ofter: #A5E3B9;
$button: #008060;
$title: #212326;
$rectangle: #799102;
$card-line: #939393;
$link: #008060;
$text: #6B7177;
$help: #FBF7ED;
$footer: #004C3F;